
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./image/background.jpg) no-repeat center center/cover;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;

}

.todo-app{
    width:100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: #57438d;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);

}

.todo-app h1{
    font-size: 2rem;
}

.stat-container{
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px solid rgba(37, 15, 65, 0.18);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.details{
    width: 100%;
}

#progressbar {
    width: 100%;
    height: 7px;
    background: rgba(62, 27, 85, 0.8);
    border-radius: 20px;
    position: relative;
    margin-top: 15px;
}


#progress{
    width: 0%;
    height: 100%;
    background: rgba(219, 170, 252, 0.8);
    border-radius:20px;
    transition: width 0.3s ease;
}


#numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: rgba(62, 27, 85, 0.8);
    border: 2px solid rgba(219, 170, 252, 0.8);
    font-weight: bold;
    border-radius: 50%;
    font-size: 1.5rem;
    color:#fff;

}

.input-area{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
}

.input-area input{
    flex:1;
    padding: 10px 17px;
    font-size: 1.1rem;
    border:none;
    outline: none;
    border-radius: 22px;
    background-color: #D6C2EB;
    color: #fff;
}

.input-area input::placeholder{
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.input area text{
    color: #6f4d97;
}

.input-area button{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.1rem;
    background: #41255f;
    border: 2px solid rgba(255, 255, 255, 0.18);
    cursor:pointer;
    transition: all 0.2s ease;
}

.input-area button:hover{
    transform: scale(1.1);
    background: #402d75;
}

.todos-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#task-list{
    width:100%;
}

#task-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #D6C2EB;
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 30px;
    font-size: 1.2em;
    color: #472a5f;
    position: relative;
    transition: box-shadow 0.2s ease;


}

#task-list li:hover{
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.1)
}

#task-list input.checkbox{
    min-width: 20px;
    height:20px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    background: transparent;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    transition: all 0.2s ease;

}

#task-list input.checkbox:checked{
    background: #574488;
    transform: scale(1.1);
}

#task-list input.checkbox:checked::before{
    content: '\2713';
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#task-list li span{
    flex: 1;
    margin-left: 10px;
    word-wrap: break-word;
}

#task-list li.completed span{
    text-decoration: 2px line-through #ffff;
    color: #fff;
}

.task-button {
    display: flex;
    gap: 10px;
    margin-right:auto;
}

.task-button button {
    background: #D6C2EB;
    border:none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-button button:hover{
    transform: scale(1.2);
}

.task-button .edit-btn{
    background: #504eb8;
}
.task-button .delete-btn{
    background: #91922d;
}

@media (max-width: 600px){
    .container{
        margin: 0 20px;
        padding: 0 10px;
    }

    .todo-app{
        padding: 1.5 rem;
        gap: 20px;
    }
    #numbers{
        width: 60px;
        height: 60px;
        font-size: 1 rem;
    }
    .input-area input{
        font-size: 1rem;
    }
    #task-list li{
        font-size: 1rem;
    }
}